.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.flex-between {
  justify-content: space-between;
}
// .alienflex {
//   flex: auto;
// }
.twd .flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
// .twd .flexcol > * {
//   flex: 1;
// }
.twd .flexcol .flex1 {
  flex: 1;
}
.twd .flexcol .flex2 {
  flex: 2;
}
.twd .flexcol .flex3 {
  flex: 3;
}
.twd .twd .flexcol .flex4 {
  flex: 4;
}
.twd .flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.twd .flexrow > * {
  flex: 1;
}
.twd .flexrow .flex1 {
  flex: 1;
}
.twd .flexrow .flex2 {
  flex: 2;
}
.twd .flexrow .flex3 {
  flex: 3;
}
.twd .flexrow .flex4 {
  flex: 4;
}
